@media (max-width: 992px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr) !important;
		gap: 20px !important;
	}
}
@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr !important;
		padding: 20px !important;
	}
	.section-container {
		padding: 40px 0 !important;
	}
}
